
*{
    padding: 0;
    margin: 0;
}
html,body{
    height: 100%;
}
.wrapper{
    width: 600px;
    height: 100%;
    border: 1px solid #eee;
    margin: 0 auto;
    background-color: #eee;
    position: relative;
}
.wrapper .name{
    text-align: center;
    background-color: grey;
    color: #fff;
    height: 40px;
    line-height: 40px;
}
.wrapper .content{
    height: calc(100% - 40px - 50px);
    overflow-y: scroll;
}
.input-content{
    height: 50px;
    line-height: 50px;
    background-color: #ddd;
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
}
.content .avatar{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: inline-block;
    vertical-align: middle;
}
.content .text{
    display: inline-block;
    padding: 5px;
    margin: 0 10px;
    position: relative;
    max-width: 250px;
    word-wrap: break-word;
}
.mine .avatar{
    background-image: url('./img/1.png');
    background-size: 100% 100%;
    float: right;
}
.robot .avatar{
    background-image: url('./img/2.png');
    background-size: 100% 100%;
    float: left;
}
.mine {
    float: right;
    margin: 5px 10px;
    width: calc(100% - 20px);
}
.robot{
    float: left;
    width: 100%;
}
.mine .text{
    background-color: greenyellow;
    float: right;
}
.robot .text{
    background-color: #fff;
    position: relative;
}
.mine .text::after{
    content: '';
    position: absolute;
    right: -20px;
    top: 8px;
    width: 0px;
    height: 0px;
    border: 10px solid transparent;
    border-left-color: greenyellow;
    top:10px;
    margin-top: -10px;
}
.robot .text::before{
    content: '';
    position: absolute;
    left: -20px;
    top: 8px;
    width: 0px;
    height: 0px;
    border: 10px solid transparent;
    border-right-color: #fff;
    top:10px;
    margin-top: -10px;
}
#inp{
    width: 500px;
    height: 30px;
    line-height: 30px;
    font-size: 16px;
}
.input-content #submit{
    font-size: 16px;
    padding: 3px 10px;
    margin: 0 5px;
    outline-style: none;
    border: none;
    background-color: #ccc;
}
.input-content #submit:hover{
    background-color: #333;
    color: #eee
}

::-webkit-scrollbar{
    background-color: transparent;
}